<html>
    <head>

    </head>
    <body class="main-body">
        {% extends "layout.html" %} {% block content %}
        <div class="container-fluid middle-section">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{url_for('static', filename='images/skimage1.gif')}}" alt="My Image" class="img-responsive">
                </div>
                <div class="col-md-9">
                    <h1 class="text-uppercase name">Shivali Khanuja</h1>
                    <h3 class="designation"><em>Full Stack Developer<em></h3>
                    <p>Full-Stack Web Developer with knowledge of Python, MEAN, and Ruby on Rails. Ability to develop web applications from concept to implementation on both front and back end.I'm currently looking for a position as a full-stack, front end, or back-end developer, but I am open to new opportunities!Feel free to go ahead and check out the rest of my site.</p>
                    <h6>Also check my <a href="https://www.linkedin.com/in/shivali-khanuja-415044146/">LinkedIn</a>
                    <a href="https://github.com/Shivi7434">GitHub</a> Profiles</h6>   
                </div>
        <div class="container-fluid">
            <h2 class="skills"><em>SKILLS</em></h2>
            <div class="row">
                <div class="col-md-8">
                        <div id="dropdown" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Front-End
                                        </a>
                                    </h5>
                                </div>
                                <!-- end card header -->
                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-block">
                                        <ul>
                                            <li>HMTL &amp; CSS</li>
                                            <li>JQuery</li>
                                            <li>AJAX</li>
                                            <li>JSON</li>
                                        </ul>
                                    </div>
                                    <!-- end card-block -->
                                </div>
                                <!-- end collapse -->
                            </div>
                            <!-- end card -->
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Languages
                                        </a>
                                    </h5>
                                </div>
                                <!-- end card-header -->
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-block">
                                        <ul>
                                            <li>Python</li>
                                            <li>Ruby</li>
                                            <li>JavaScript</li>
                                        </ul>
                                    </div>
                                    <!-- end card-block -->
                                </div>
                                <!-- end collapse -->
                            </div>
                            <!-- end card -->
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Databases
                                        </a>
                                    </h5>
                                </div>
                                <!-- end card-header -->
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="card-block">
                                        <ul>
                                            <li>SQL (MySQL, SQLite)</li>
                                            <li>NoSQL (MongoDB)</li>
                                            <li>PostgreSQL</li>
                                        </ul>
                                    </div>
                                    <!-- end card-block -->
                                </div>
                                <!-- end collapse -->
                            </div>
                            <!-- end card -->
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Frameworks
                                        </a>
                                    </h5>
                                </div>
                                <!-- end card-header -->
                                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="card-block">
                                        <ul>
                                            <li>Ruby on Rails</li>
                                            <li>MEAN</li>
                                            <li>Django</li>
                                            <li>Flask</li>
                                        </ul>
                                    </div>
                                    <!-- end card-block -->
                                </div>
                                <!-- end collapse -->
                            </div>
                            <!-- end card -->
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFive">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Methodology
                                        </a>
                                    </h5>
                                </div>
                                <!-- end card-header -->
                                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="card-block">
                                        <ul>
                                            <li>OOP</li>
                                            <li>MVC</li>
                                            <li>RESTful Architecture</li>
                                            <li>TDD (RSpec)</li>
                                            <li>EDD</li>
                                            <li>CRUD Operations</li>
                                        </ul>
                                    </div>
                                    <!-- end card-block -->
                                </div>
                                <!-- end collapse -->
                            </div>
                            <!-- end card -->
                            <div class="card">
                                <div class="card-header" role="tab" id="headingSix">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Tools
                                        </a>
                                    </h5>
                                </div>
                                <!-- end card-header -->
                                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="card-block">
                                        <ul>
                                            <li>Node.js</li>
                                            <li>Terminal/Console</li>
                                            <li>Postman</li>
                                            <li>Vagrant</li>
                                        </ul>
                                    </div>
                                    <!-- end card-block -->
                                </div>
                                <!-- end collapse -->
                            </div>
                            <!-- end card -->
                        </div>

                    </div>
                    <!-- end col-md-8 -->
                </div>
                <!-- end row -->
                <br>
                    <div class="container-fluid experience-section">
                        <h2 class=" experience text-uppercase "><em>Experience</em></h2>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>International Air Consolidators</h4>
                                <h5>Sales Representative Jun 2015 – Jul 2016</h5>
                                    <ul>
                                    <li>Plan and direct staffing, training, and performance evaluations to develop and control sales and service programs.</li>
                                    <li>Determine price schedules and discount rates.</li>
                                    <li>Resolve customer complaints regarding sales and service.</li>
                                    <li>Monitor customer preferences to determine focus of sales efforts.</li>
                                    <li>Sells services to clients by convincing them to employ him or her for arranging the travel.</li>
                                                        
                                    </ul>

                            </div>
                    </div>
                <div class="container-fluid education-section">
                    <h2 class=" education text-uppercase "><em>Education</em></h2>
                    <div class="row">
                        <div class="col-md-12">
                        <h4>Coding Dojo (July2017 - November 2017)</h4>
                        <p>Coding Dojo is an immersive 14-week coding boot camp that teaches students the languages and tools they need to know to create websites from the front end to the back end.</p>
                        <h4>Bachelors from IGNOU</h4>
                        <p>I completed my graduation in 2015 from Indira Gandhi National Open University.</p>    
                        </div>
                    </div>            
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>