<html>
    <head>
       <title>Shivali Khanuja - Full Stack Developer</title>
        
    </head>
    <body>
        <div class="container-fluid main-body">
            {% extends "layout.html" %} {% block content %}    
            <div class="container-fluid middle-section">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{url_for('static', filename='images/6.JPEG')}}" alt="My Image" class="img-responsive">
                    </div>

        
                </div><hr>
                
                </div>    
        
            </div> 

        </div>    
        {% endblock %}
    </body>
</html>