<html>
    <head>
       <title>Shivali Khanuja - Full Stack Developer</title>
        
    </head>
    <body>
        <div class="container-fluid main-body">
            {% extends "layout.html" %} {% block content %}    
            <div class="container-fluid middle-section">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{url_for('static', filename='images/3.jpeg')}}" alt="My Image" class="img-responsive">
                    </div>

        
                </div><hr>   
                <div class="container-fluid side-intro">
                    <h3>Shivali Khanuja</h3>
                    <h4>Full Stack Developer</h4>
                    <ul>
                        <li>Coffee Addict</li>
                        <li>Techie</li>
                        <li>Traveller</li>
                        <li>Learner Forever</li>
                    </ul>
                </div> 
                <div class="container-fluid center-content">
                    <img src="{{url_for('static', filename='images/coffee.jpeg')}}" alt="Coffee.image" class="img-responsive" id="coffeeimg">
                    <img src="{{url_for('static', filename='images/Mine1.JPG')}}" alt="Coffee.image" class="img-responsive" id="mine1">
                    <img src="{{url_for('static', filename='images/5.jpeg')}}" alt="Coffee.image" class="img-responsive" id="fifth">
                    <img src="{{url_for('static', filename='images/mine2.JPG')}}" alt="Coffee.image" class="img-responsive" id="mine2">
                </div>
            </div> 

        </div>    
        {% endblock %}
    </body>
</html>